@import 'variables';

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

@media (min-width:801px)  {
  .list {
    grid-template-columns: repeat(5, 1fr);

    ::ng-deep ag-boxes-card {
      .card {
        &:hover {
          border: 2px solid $green;
          cursor: pointer;
        }
        .card__img img {
          width: 30% !important;
          margin-top: 1rem;
        }

        .card__info__name {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}
